// render/camera.cst — 2D and 3D camera controllers.

use "../math/math.cst" as math;

struct Camera3D {
    position as math.vec.Vec3;
    target   as math.vec.Vec3;
    up       as math.vec.Vec3;
    fovy     as f64;   // in radians
    aspect   as f64;
    near     as f64;
    far      as f64;
}

fn camera3d(pos as math.vec.Vec3, target as math.vec.Vec3, up as math.vec.Vec3,
            fovy_rad as f64, aspect as f64, near as f64, far as f64) as Camera3D {
    let is Camera3D as c;
    c.position = pos;
    c.target = target;
    c.up = up;
    c.fovy = fovy_rad;
    c.aspect = aspect;
    c.near = near;
    c.far = far;
    return c;
}

fn view_matrix(c as *Camera3D) as math.mat.Mat4 {
    return math.mat.m4_look_at(c.position, c.target, c.up);
}

fn proj_matrix(c as *Camera3D) as math.mat.Mat4 {
    return math.mat.m4_perspective(c.fovy, c.aspect, c.near, c.far);
}

fn view_proj(c as *Camera3D) as math.mat.Mat4 {
    return math.mat.m4_mul(proj_matrix(c), view_matrix(c));
}
